## Loops in Python

Loops in python are code of blocks that executes repeatedly until some specific condition is met. Pyhton have 2 types of loops

#### For Loop: It iterates over a sequence (List, String, Tuple)

#### While Loop: it repeats itself until some specific condition is met

1. For Loop
SYNTAX 

for variable in sequence:
    #code block to be executed

In [1]:
student = 'saksham'
for char in student:
    print(char)

s
a
k
s
h
a
m

In [2]:
# Using range()
# range syntax => range(start, end, step)  => it generates until end - 1

#print number 1 to 5
for num in range(1, 6):
    print(num)

1
2
3
4
5

In [3]:
# print only odd numbers from 1 to 11
for num in range(1, 12, 2):
    print(num)

1
3
5
7
9
11

In [4]:
# print 4 ka table using range
num = 4
for i in range(1, 11):
    print(num * i)

4
8
12
16
20
24
28
32
36
40

2. While Loop => it is repeated until some specific conditions stands true

SYNTAX:
while condition:
    #code block to be executed

In [5]:
# start countdown from 5 to 1

num = 5
while num > 0:
    print(num)
    num = num -1

5
4
3
2
1

In [6]:
# print numbers from 1 to 11 using while loop (only odd numbers)

num = 1
while num < 12:
    print(num)
    num = num + 2

1
3
5
7
9
11

In [7]:
# Print squares of numbers from 1 to 10
for num in range(1, 11):
    print(num*num)

1
4
9
16
25
36
49
64
81
100

In [8]:
# print all even numbers from 1 to 50
for num in range(2, 51, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
# print each letter from 'PYTHON' to new line
word = "PYTHON"
for i in word:
    print(i)

P
Y
T
H
O
N

In [10]:
# print each element from list [2,5,8,3,10]
list1 = [2,5,8,3,10]
for i in list1:
    print(i)

2
5
8
3
10

In [11]:
# calculate sum of numbers from 1 to 100
total = 0
for i in range(1, 101):
    total = total + i
print(total)

5050

In [12]:
#print multiplication table of 7
i = 7
for num in range(1, 11):
    print(i*num)

7
14
21
28
35
42
49
56
63
70

In [13]:
# print all numbers between 1 to 50 (divisible by both 3 and 5)
for num in range(1, 51):
    if num%3 == 0 and num%5 == 0:
        print(num)

15
30
45

In [14]:
# find the factorial of a number n = 5 using for loop
fact = 1
for i in range(1, 6):
    fact = fact*i
print(fact)

120

In [15]:
# print only vowel from s = 'Data Science'
s = 'Data Science'
for char in s:
    if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char == 'u':
        print(char)

a
a
i
e
e

In [16]:
# print 1 to 10 using while loop
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [17]:
# print countdown from 10 to 1
num = 10
while num > 0:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

In [19]:
#calculate the sum of digits of a num = 4562
num = 45622
total = 0
while num > 0:
    total = total + num % 10
    num = num//10
print(total)

19

In [14]:
# Loop with break statement
#break => it will break the loop immediately
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [6]:
#infinite loop with break statement
count = 0
while True: #infinite loop
    print(count)
    count = count + 1
    if count == 5:
        break # it will break loop here

0
1
2
3
4

In [24]:
# Control Statements => break, continue, pass
#continue
for i in range(10):
    if i == 3:
        print(i)
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
# pass => it also does nothing but it is just used as a placeholder only
for i in range(10):
    if i == 3:
        print(i)
        pass # does nothing but used for future
    print(i)

0
1
2
3
3
4
5
6
7
8
9

In [35]:
n = 12
for i in range(1, n):
    print(i)

1
2
3
4
5
6
7
8
9
10
11

In [36]:
#Nested Loop
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [38]:
# Nested while loop
i = 0
j = 0
while i < 3:
    while j < 2:
        print(i, j)
        j = j + 1
    i = i + 1

0 0
0 1

In [39]:
i = 0
while i < 3:
    j = 0
    while j < 2:
        print(i, j)
        j = j + 1
    i = i + 1

0 0
0 1
1 0
1 1
2 0
2 1

In [40]:
# else clause with loops
# else with loops

for i in range(6):
    print(i)
else:
    print('loop is completed')

0
1
2
3
4
5
loop is completed

In [43]:
#else with while loop
# find the sum of digits of the num given
num = 45622
total = 0
while num > 0:
    total = total + num % 10
    num = num//10
else:    
    print(total)

19

In [44]:
# countdown 5 to 1
num = 5
while num > 0:
    print(num)
    num -= 1
else:
    print("Countdown finished!")

5
4
3
2
1
Countdown finished!

In [48]:
# if we apply else after the break then else does not work

for i in range(6):
    if i == 3:
        break
    print(i)
else:
    print('Loop is over')

0
1
2

### Points to remember

# 1. Indentation is crucial:

    # Loops in Python rely on proper indentation to define blocks.

for i in range(3):
print(i)  # IndentationError


# 2.Avoid Infinite Loops:

    # Ensure while loops have a condition that eventually becomes False.
    
    
# 3.Use range() for Numeric Loops:

    # Efficient and versatile for numeric iterations.
    
    
# 4.Control Statements Modify Flow:

    # Use break, continue, and pass judiciously to manage loop behavior.