## Strings

In [2]:
# Anything that is placed between quotes, be it any type of quotes ''(single quotes), ""(double quotes), ''' '''(triple quotes)

In [8]:
#Single Quotes String
string = ' '
print(type(string))

<class 'str'>

In [10]:
#Double Quotes String
string = "None"
print(type(string))

<class 'str'>

In [13]:
#Triple Quotes String => It allows us to have a multi-line string
first_name = '''Lalu
Prasad Yadav is an Indian Politician
from Bihar'''
print(first_name)
print(type(first_name))

Lalu
Prasad Yadav is an Indian Politician
from Bihar
<class 'str'>

In [7]:
num = "23"
print(type(num))

<class 'str'>

In [16]:
# We can use double quotes inside a single-quoted or triple-quoted string
sentence = 'He said to me, "You are a liar" '
print(sentence)

He said to me, "You are a liar"

String only supports concatenation and repetition, it does not support addition, subtraction, division, or multiplication as it does not make any sense of it

In [23]:
#This will concat the 2 different strings 
first_name = 'Saksham'
last_name = 'Singh'
print(first_name + ' ' + last_name)

Saksham Singh

In [1]:
# Concatenation of strings
x = '2'
y = '2'
print(x + y)

22

In [2]:
# Or we can do the repetition of strings
full_name = 'Aditya Soni '
print(full_name*5)

Aditya Soni Aditya Soni Aditya Soni Aditya Soni Aditya Soni

In [3]:
# repetion of strings
x = '1'
print(x*3)

111

In [8]:
# We can't subtract or divide a string to a string, minus (-) and division (/) are not allowed
x = '22'
y = '2'
# print(x - y)
# print(x / y)

In [7]:
# This will throw an error because a string can be concatenated to a string only not to a number/Integer
# first_name = 'Aditya'
# num1 = 50
# print(first_name + num1)

In [13]:
#Here all operations will happen because variables are numbers/Integers here
num1 = 60
num2 = 75
print(num1 + num2)
print(num2 - num1)
print(num1 - num2)
print(num2 / num1)
print(num1 / num2)
print(num2 * num1)
print(num2 // num1)
print(num2 % num1)

135
15
-15
1.25
0.8
4500
1
15

### Indexing in String

In [17]:
#We can do indexing in String because they are a sequence of characters


# 1. Positive Index => Starts from 0 to n-1
first_name = 'Saksham'
# Find the letter at the first position or Oth indexing in first_name
print(first_name[0]) # 0
print(first_name[1])
print(first_name[2])
print(first_name[3])
print(first_name[4])
print(first_name[5])
print(first_name[6]) # n - 1
# print(first_name[7]) This will throw an error as string index out of range

S
a
k
s
h
a
m

In [21]:
# Negative Sequencing => It indexes from the right side to life from -1 to -n
student_name = 'Piyush'
print(student_name[-1], student_name[-2], student_name[-3], student_name[-4], student_name[-5])
print(student_name[-6])
# print(student_name[-7]) This will throw an error because our range is from -1 to -6(-n) only

h s u y i
P

### Slicing a String

We can extract or slice out a part of the string. And a part of the string is known as substring.
The syntax of slicing is => string[start, end, step]

In [34]:
str1 = '123456789101112131415'
# extract '1234' out of this string
substr = str1[0: 4: 1]
print(substr)

# Extract only the 13579 as a substring
small_str = str1[0: 10: 2]
print(small_str)

1234
13579

In [41]:
x = 'Python is a funny language'
print(x[12: 17: 1])

print(x[-1: -9: -1])

print(x[-8: 27: 1])

print(x[19: 27: 1])

funny
egaugnal
language
anguage

In [46]:
y = 'This is just a letter and nothing else'

# Extract out anything that is present from the letter in this string y
print(y[15: :1])

letter and nothing else

In [53]:
z = 'Hello, World!'

#extract out hello from z without mention of the start index

print(z[:5])

# Extract out World from z
print(z[7:12])

# extract everything starting from w
print(z[7:])

# extract every second character
print(z[ : : 2])

Hello
World
World!
Hlo ol!

### Length of String

In [5]:
# len() => It is a function to calculate the length of a string
student = 'Priyadarshini'
teacher = 'Ram Prasad'

# Calculate the length of student
print('Length of student is:',len(student))
print('Length of teacher is:', len(teacher))

Length of student is: 13
Length of teacher is: 10

#### Out of Range Indexing

In [11]:
# It happens when you are trying to find an index of a string that does not exist
student = 'Priyadarshini'
# It's indexing will start from 0 to n-1 (12)
print(student[9], student[12])

# let's suppose if we try to locate an index after 12
# print(student[13])

# This will throw an error(Index Out of Range) because our Indices Range is from 0 to 12

h i