## Variables

Variables are containers that store data in any programming language. In Python, variables are dynamically typed, 
meaning you donâ€™t need to declare their type explicitly.

In [1]:
num = 10 # it will store an integer inside num
print(type(num))

<class 'int'>

In [2]:
num = 'number' #it will store string inside num
print(type(num))

<class 'str'>

In [3]:
num = 10.667  #it will store float inside num
print(type(num))

<class 'float'>

In [5]:
is_num = True
print(type(num))

<class 'bool'>

### Rules for creating Variables

1. A Variable must start from a letter/alphabet or underscore(_)

In [ ]:
#These will not have any error
first_name = 'Saksham'
_name = 'Aditya'

In [ ]:
# These will have error
# $name = 'Currency'
# 9name = 'Piyush'

2. A Variable must contain alphanumeric letters or underscore (_)

In [7]:
#These will not have any error
first3name = 'Saksham'
_name1 = 'Aditya'
num1 = 987
print(first3name, _name1, num1)

Saksham Aditya 987

In [ ]:
#These will have an error
# first-name = 'Saksham'
# _name$ = 'Aditya'
# num* = 'NUMERICAL'

3. Variables are case sensitive

In [9]:
num = 10
Num = 20
nUm = 30
nuM = 40
NUM = 50
NUm = 60
NuM = 70
print(num, Num, nUm, nuM, NUM, NUm, NuM)

10 20 30 40 50 60 70

In [ ]:
num1 = 24
num1 = 25
print(num1, num1, num1, num1)

4. Variables can't be same as python keywords or functions name

In [10]:
# if = 'hello'

In [1]:
# _print = 'Hello world'
print(_print)

Hello world

In [2]:
# _tuple = '23'
print(_tuple)

23

5. There is no length limit for creating variables, but we should keep it concise an meaningfull

In [11]:
# Recommended
number = 10
first_name = 'Saksham'

# Not recommended
x = 5
b1245jbhkfab128t31yiu = 87965544

6. Use snake case for creating variables

In [3]:
# When multiple words are joined using underscores
my_first_name = 'Piyush'
print(my_first_name)

# What is camel case => when the first letter of each word is in uppercase
MyFirstName = 'Aditya'
print(MyFirstName)

Piyush
Aditya

In [36]:
name = 'hello'
print(name)

hello

In [42]:
a = 9
b = a
c = a
print(a is b)
print(b is c)
print(a is c)
print(a, b, c)

True
True
True
9 9 9

In [47]:
a = [1, 2, 3, 4]
b = a
print(a is b)
c = [1, 2, 3, 4]
print(a is c)

print(id(a), id(b), id(c))

True
False
2168003814720 2168003814720 2168003812928

In [48]:
age = int(input('enter your age:'))
print('next year, you will be', age + 1, 'years old')

enter your age: 23

next year, you will be 24 years old

### Multiple Variables Assignment

In [18]:
# We can create and assign values to multiple variables at a time
num1, num2, num3 = 50, 70, 100;
print(num1);
print(num1, num3);
print(num1,num2, num3);

50
50 100
50 70 100

In [23]:
num, first_name, is_num, decimal = 45, 'Piyush', False, 23.698
print(num, first_name, is_num, decimal)
print(type(num), type(first_name), type(is_num), type(decimal))
print('Num: ', num, 'first_name: ', first_name, 'is_num: ', is_num, 'decimal: ', decimal)

45 Piyush False 23.698
<class 'int'> <class 'str'> <class 'bool'> <class 'float'>
Num:  45 first_name:  Piyush is_num:  False decimal:  23.698